<!DOCTYPE html>
<html>
  <head>
    <title>CryptoComp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel= "stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  </head>

  <body class>
    <nav class="navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
          <ul class="nav-left"><h3>Crypto Compare</h3></ul>
          <ul class="nav-right"><% if current_user %>
              Signed in as <%= current_user.name %>!
              <%= link_to "Sign out", signout_path %>
              <%end%>
        </ul>
    </div>
  </div>
</nav>
    
      <%= yield %>
  
  </body>
</html>
